.about-us {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  background: #000000;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.section-heading::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background: #ffcc00;
  margin: 1rem auto 0;
  transition: width 0.3s;
}

.custom-card {
  background-color: #1a1a1a;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.custom-card .card-title {
  font-size: 1.5rem;
  color: #f39c12;
}

.card-text {
  color: #ccc;
}
h2,h3{
  color: #f39c12;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 2rem;
  }

  .custom-card .card-title {
    font-size: 1.3rem;
  }
}

